.navbar {
    padding-top: 0rem !important;
    padding-bottom: 0rem;
  }
  .ml-auto,
  .mx-auto {
    margin-left: auto !important;
  }
  .active {
    background-color: #fff;
  }
  .changeheader {
    background-color: #4E4B4F !important;
  }
  .changeheader .logo {
    -webkit-transition: 0.5s !important;
    transition: 0.5s !important;
    max-width: 25% !important;
  }
  .defaultheader .logo {
    -webkit-transition: 0.5s !important;
    transition: 0.5s !important;
    max-width: 35% !important;
  }
  /* .changeheader .btn {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 14px;
    -webkit-transition: 0.5s !important;
    transition: 0.5s !important;
  }
  .defaultheader .btn {
    -webkit-transition: 0.5s !important;
    transition: 0.5s !important;
    font-size: 15px !important;
  } */
  
  .changeheader .link {
    -webkit-transition: 0.5s !important;
    transition: 0.5s !important;
    color: #ffffff !important;
    font-size: 14px !important;
  }
  
  .defaultheader .link {
    color: #ffffff !important;
    -webkit-transition: 0.5s !important;
    transition: 0.5s !important;
  }
  .defaultheader {
    background-color: transparent;
    padding-top: "100px" !important;
    margin-bottom: -105px;
  }
  
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
   
    padding-top: 20px !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 20px !important;
  }
  .navbar-light .navbar-toggler {
    float: right !important;
  }
  .navbar-light .navbar-toggler {
    background-color: white;
    border-style: none !important;
  }
  
  @media (max-width: 989px) {
    .navbar-nav {
      position: absolute;
      background-color: rgb(255, 94, 0);
     
      padding-top: 120px;
      padding-bottom: 20px;
      width: -webkit-fill-available;
      margin-top: -30px;
      left: 0;
      z-index: -1;
    }
  }